@use './base/variables' as *;

header {
    width:100%;
    background-color: #35363aa9;
    
    margin-top: 0px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
    display: flex;
    flex-wrap: none;
    justify-content: flex-end;
    align-items: center;
    
    h1{
        width: 30%;
        margin: 0 auto;
        color: #dad4d4;
       
    }
    h1 a.active{
        margin-top: 0px;
        font-size: 1.8em;
        font-family: $logoText;
        text-shadow: 2px 4px #757575;
        text-transform: uppercase;
        
        color: #dad4d4;
        text-decoration: none;
        text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
    }}

header nav {
    width: 65%;
     ul{
         display:flex;
         flex-wrap: nowrap;
         justify-content: space-around;
         list-style: none;
         margin-left: 45px;
     }
    a{
        display: block;
        text-shadow: 0px 0px 1px rgba(0,0,0,0.2), 0px 1px 2px rgba(0, 0, 0, 0.582);
        line-height: 10px;
        font-size: 1.5em;
        text-decoration: none;
        color: #8ed2ec;       
    }
    a:active,
    a:focus,
    a:hover {
        color: #56C7F5;
    }
}