@use './base/variables' as *;

body {
    color: $bodyTextColor;
    background: $bodyBgGradient;
    background-color: $bodyBgColor;
}

article {
    text-align: center;
    margin: 35px;
}

p {
    text-align: left;
}