@use './base/variables' as *;

.search-bar {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.search-bar>input {
    height: 35px;
    width: 50%;
    min-width: 300px;
    max-width: 600px;
    border-radius: 5em;
    border: 0;
    min-width: 300px;
    background-color: #939CA4;
    transition: ease-in-out, width .35s ease-in-out;
}
input[type="text"]:focus {
    outline: none
  }
.search-icon>button:hover,
.search-icon>button:active,
.search-icon>button:focus {
    background-color: orange;
    box-shadow: 1px 1px 1px white;
}



::placeholder {
    text-align: center;
}