@use './base/variables' as *;

.filters {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.3em;
    padding: 0;
}

.filter {
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.filter:hover,
.filter:active,
.filter:focus {
    color: #56C7F5;
}
.active-filter {
    color: #56C7F5;
}
.filter:after {
    content: '';
    height: 4px;
    bottom: -10px;
    left: 0%;
    width: 0%;
    background: #76F9FB;
    box-shadow: 0 1px 1px;
    border-radius: 3px;
    -o-transition:.5s;
  	-ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    
    
}
.filter:hover:after {
    width: 100%;
}

/*a simpler underline with less effect
.filter:hover
.filter:active
.filter:focus {
    color: #56C7F5;
    text-decoration: underline #76F9FB solid;
    text-underline-position: under;
}
*/
