// Colors 
$bodyBgColor: black;
$bodyBgGradient: radial-gradient(ellipse closest-side, rgba(26, 23, 23, 0.781) , rgba(0, 0, 0, 0.767) 100%);
$bodyTextColor: beige; // just to test out the colours

// Type
$logoText: 'Red Rose', cursive;
$bodyText: 'Noto Sans', sans-serif;