// Colors 
$bodyBgColor: #000000;
$bodyBgGradient: linear-gradient(to bottom right, #040404, #000000, #656565);
$bodyTextColor: #ffffff;

// Type
$logoText: 'Red Rose', cursive;
$bodyText: 'Noto Sans', sans-serif;